footer {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.links {
  display: flex;
  gap: 1em;
  a {
    transition: 0.5s;
    &:hover {
      transform: translateY(-5px);
    }
  }
}
