.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  .board-container {
    flex-grow: 1;
    position: relative;
    max-width: calc(73vh * 0.88); // aspect ratio of the svg is 0.88;1
    max-height: 73vh;
    app-warning {
      position: absolute;
      top: 25%;
      transform: translateY(-50%);
      left: 0;
      right: 0;
      margin: auto;
      width: 300px;
    }
  }
  app-info {
    height: 73vh;
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .container {
    flex-direction: column;
    max-width: 95vw;
    app-info {
      margin: auto;
      min-height: 200px;
      max-height: calc(100vh - (95vw * (1 / 0.88)) - 164px);
    }
  }
}
