<div
  class="container"
  *ngIf="gameDto !== undefined && gameModel !== undefined && userSide !== undefined && gameAsStarted !== undefined"
>
  <div class="board-container">
    <app-board
      [game]="gameModel"
      [lock]="!gameAsStarted || userSide !== gameModel.sideTurn"
      [flip]="userSide === pieceSideEnum.BLACK"
      (move)="onMove($event)"
    />
    <app-warning
      [gameAsStarted]="gameAsStarted"
      [gameFriendlyId]="gameDto.friendlyId"
      [gameState]="gameModel.state"
      [userSide]="userSide"
    ></app-warning>
  </div>
  <app-info
    [game]="gameModel"
    [gameAsStarted]="gameAsStarted"
    [userSide]="userSide"
    (resign)="onSurrender()"
  ></app-info>
</div>
