.coordinate text {
  font-size: 2em;
  fill: blue;
}

.cell {
  stroke: #000000;
}

.overlay {
  display: none;
  &.selected,
  &.moveHighlighted {
    display: block;
    fill: #7b61ff;
    opacity: 0.5;
  }
  &.captureMoveHighlighted {
    display: block;
    fill: transparent;
    stroke: #7b61ff;
    stroke-width: 20px;
    opacity: 0.5;
  }
  &.lastMoveHighlighted {
    display: block;
    fill: #61fcff;
    opacity: 0.25;
  }
}

.clickableHexagon {
  fill: transparent;
  pointer-events: all;
}
