<svg:g [attr.transform]="'translate(' + def.translation.x + ',' + def.translation.y + ')'">
  <polygon class="cell" [attr.points]="hexagonPath" [style.fill]="'var(--board-cell' + def.colorIndex + ')'"></polygon>
  <polygon
    class="overlay"
    [ngClass]="{ selected: def.selected, lastMoveHighlighted: def.lastMoveHighlighted }"
    [attr.points]="hexagonPath"
  ></polygon>
  <g
    app-piece
    [attr.transform]="
      'translate(' +
      ((width / 2) * -1 + (width - pieceWidth * pieceScale) / 2) +
      ',' +
      ((height / 2) * -1 + (height - pieceHeight * pieceScale) / 2) +
      '), scale(' +
      pieceScale +
      ')'
    "
    *ngIf="def.pieceType !== undefined && def.pieceSide !== undefined"
    [type]="def.pieceType!"
    [side]="def.pieceSide!"
  ></g>
  <circle class="overlay" [ngClass]="moveHighlightedClass" cx="0" cy="0" r="35"></circle>
  <!-- <g class="coordinate">
    <text transform="rotate(-90) translate(60, 0) rotate(90) rotate(0) translate(0,10)">
      {{ coordinate.q }}
    </text>
    <text transform="rotate(-90) translate(-30, 52) rotate(90) rotate(0) translate(0,10)">
      {{ coordinate.r }}
    </text>
    <text transform="rotate(-90) translate(-30, -52) rotate(90) rotate(0) translate(0,10)">
      {{ coordinate.s }}
    </text>
  </g> -->
  <polygon (click)="click()" class="clickableHexagon" [attr.points]="hexagonPath"></polygon>
</svg:g>
