<section class="motivation-section">
  <h1>Welcome to my Hexagonal Chess Showcase!</h1>
  <p>
    As a passionate web developer, I constantly seek out intriguing challenges. Inspired by a
    <a href="https://youtu.be/bgR3yESAEVE" target="_blank"
      >YouTube video by C.G.P. Grey titled 'Can Chess, with Hexagons?'</a
    >, I dove into the world of hexagonal chess and was immediately captivated by its unique complexity and
    possibilities. This fascination drove me to create a digital version of the Gliński's variant, blending my love for
    coding with my newfound interest for this chess variant.
  </p>
</section>

<section class="project-section">
  <h1>Project Overview</h1>
  <p>
    Dive into the intricate world of hexagonal chess through my project. Leveraging the power of modern web
    technologies, I've designed both the backend and frontend to provide a seamless experience. Here's a breakdown of
    the technical aspects:
  </p>

  <section>
    <h2>
      Backend -
      <a href="https://github.com/sisimomo/hexagonalChess-backend">Github repository</a>
    </h2>
    <ul>
      <li><strong>Framework:</strong> Spring Boot</li>
      <li><strong>Realtime Communication:</strong> WebSocket (Stomp) for realtime communication</li>
      <li><strong>API:</strong> RESTful endpoints for non realtime communication</li>
      <li><strong>Database:</strong> MariaDB for storing game info and games history</li>
      <li><strong>Authentication:</strong> Keycloak server for secure user authentication</li>
    </ul>
  </section>

  <section>
    <h2>Frontend - <a href="https://github.com/sisimomo/hexagonalChess-frontend">Github repository</a></h2>
    <ul>
      <li><strong>Technology:</strong> Angular</li>
      <li><strong>User Interface:</strong> Angular Material UI components for a responsive and engaging design</li>
      <li><strong>Platform Compatibility:</strong> Ensured responsiveness for both mobile and desktop devices</li>
    </ul>
  </section>

  <section>
    <h2>
      Deployment -
      <a href="https://github.com/sisimomo/hexagonalChess-docker-compose">Github repository</a>
    </h2>
    <ul>
      <li><strong>Technology:</strong> Docker Compose</li>
      <li><strong>Cloud:</strong> Oracle Cloud Ampere</li>
      <li><strong>Security:</strong> Cloudflare Argo Tunnel</li>
      <li><strong>Frontend Distribution:</strong> Nginx</li>
    </ul>
  </section>
</section>

<section class="rules-section">
  <h1>Hexagonal Chess Rules - A Sneak Peek</h1>
  <p>
    Hexagonal Chess more specificity the Gliński's variant, introduces a captivating twist to the traditional chess
    game. While a comprehensive overview of the rules awaits you on a dedicated page, here are some key highlights:
  </p>
  <ul>
    <li>
      <strong>Hexagonal Board:</strong> Say goodbye to squares! The game unfolds on a hexagonal grid, offering a fresh
      and challenging playing experience.
    </li>
    <li>
      <strong>Piece Movement:</strong> Embrace the familiar rooks, knights, bishops, kings, and queens, each with a new
      strategic dimension due to the hexagonal layout.
    </li>
    <li>
      <strong>Check:</strong> Explore the intricacies of check in the context of hexagonal chess, adding depth to your
      strategic calculations.
    </li>
  </ul>
  <p>
    For a comprehensive understanding of hexagonal chess rules and strategies, make sure to explore the dedicated page
    that unravels the full richness of this variant.
  </p>
</section>
